body {
  font-family: Sans-Serif;
  margin: 0 auto; /* Common Centering Technique */
}

header {
  display: block;
  width: 100%;
  flex-direction: row;
  justify-content:space-between;
  vertical-align: top;
}

header > img {
  width: 100px;
  height: 100px;
  float: left;
}

h1 h2 {
  padding-top: 20px;
  padding-bottom: 10px;
}

h1 {
  font-size: 30px;
}

h2 {
  font-size: 20px;
}

nav {
  display: inline-block;
  float: right;
}

nav ul li {
  display: inline-block;
}

nav ul li a {
  display: inline-block;
  color: black;
  text-align: center;
  text-decoration: none;
  padding: 10px 16px;
  margin: 0;
  overflow: hidden;
  border-bottom: solid;
  border-color: #333;
}

nav ul li a:hover {
  border-bottom: solid;
  border-color: red;
}

aside {
  padding-right: 15px;
  display: inline-block;
}

.ingredients-list li {
  padding: 15px 0px;
}

input[type="radio"] {
  -webkit-appearance: none;
  width: 27px;
  height: 27px;
  background-image: url(../assets/stars.png);
  vertical-align: bottom;
}

input[type="radio"]:checked {
  background-position: 30px 30px;
}

ol li:nth-of-type(2n) {
  background-color: whitesmoke;
  margin: 5px 0;
}

aside > ul li:nth-of-type(2n) {
  background-color: whitesmoke;
  margin: 10px 0;
}

input:last-child {
  background: white;
}

input:last-child:hover {
  -webkit-filter: brightness(90%);
}

select {
  margin: 10px 0;
  width: 180px;
}

textarea {
  width: 350px;
}

label {
  display: block;
}

img {
  width: 100%;
}
