html, body, div,
h1, h2, h3, p,
dl, dt, dd, ol, ul, li,
form, label,
footer, header,
menu, nav, output, ruby, section {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  background: transparent;
}

footer, header, menu, nav, aside, section {
  display: block;
  font-family: Sans-Serif;
}

header > img {
  width: 100px;
}

h1 {
  font-size: 25px;
  margin-top: 20px;
  margin-bottom: 10px;
}

h2 {
  font-size: 20px;
  margin-top: 20px;
  margin-bottom: 10px;
}

nav {
  display: inline-block;
}

nav ul li {
  display: inline-block;
}

nav ul li a {
  display: inline-block;
  color: white;
  text-align: center;
  text-decoration: none;
  padding: 14px 16px;
  margin: 0;
  overflow: hidden;
  background-color: #333;
}

nav ul li a:hover {
  background-color: #111;
}

body {
  margin: 0 auto; /* Common Centering Technique */
  width: 900px;
}

section {
  width: 700px;
  display: inline-block;
  vertical-align: top;
}

aside {
  width: 180px;
  margin-right: 15px;
  display: inline-block;

}

.ingredients-list li {
 margin: 15px 0px;
}

input[type="radio"] {
  -webkit-appearance: none;
  width: 27px;
  height: 27px;
  background-image: url(../assets/stars.png);
  vertical-align: bottom;
}

input[type="radio"]:checked {
  background-position: 30px 30px;
}

ol li:nth-of-type(2n) {
  background-color: whitesmoke;
  margin: 5px 0;
}
ul li:nth-of-type(2n) {
  background-color: whitesmoke;
  margin: 10px 0;
}

input:last-child {
    background: white;
}

input:last-child:hover {
    -webkit-filter: brightness(90%);
}

select {
  margin: 10px 0;
  width: 180px;
}

textarea {
  width: 350px;
}

label {
  display: block;
}
