html, body, h1, h2 {
  margin: 0;
  border: 0;
  padding: 0;

  font: inherit;
  text-align: inherit;
  vertical-align: inherit;
  color: inherit;

  background: transparent;
}

DIV.container {
  min-height: 10em;
  display: table-cell;
  margin: 0;
  position: absolute;
  top: 25%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

@font-face {
    font-family: batman;
    src: url("../assets/Raleway.ttf");
}

body {
  background-image: url('../assets/index_bg.jpg');
  -moz-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;
  background-position: top center !important;
  background-repeat: no-repeat !important;
  background-attachment: fixed;

  font-family: "Raleway", sans-serif;
  text-align: center;
  vertical-align: middle;
  color: white;
}

h1 { font-size: 80px; }

/* entire container, keeps perspective */
.flip-container {
  font-size: 20px;
	perspective: 1000px;
}
/* flip the pane when hovered */
.flip-container:hover .flipper, .flip-container.hover .flipper {
	transform: rotateY(180deg);
}

.flip-container, .front, .back {
	width: 320px;
	height: 60px;
}

/* flip speed goes here */
.flipper {
	transition: 0.4s;
	transform-style: preserve-3d;
	position: relative;
}

/* hide back of pane during swap */
.front, .back {
	backface-visibility: hidden;
	position: absolute;
	top: 0;
	left: 0;
}

/* front pane, placed above back */
.front {
	z-index: 2;
	/* for firefox 31 */
	transform: rotateY(0deg);
}

/* back, initially hidden pane */
.back {
	transform: rotateY(180deg);
}
