DIV.container {
  min-height: 10em;
  display: table-cell;
  margin: 0;
  position: absolute;
  top: 25%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

h1 { font-size: 80px; }

body {
  background-image: url('index_bg.jpg');
  -moz-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;
  background-position: top center !important;
  background-repeat: no-repeat !important;
  background-attachment: fixed;

  font-family: "Raleway", sans-serif;
  text-align: center;
  vertical-align: middle;
  color: white;
}

a { text-decoration: none; }
a:link { color: white; }
a:visited { color: white; }
a:hover { color: white; }
a:active { color: white; }

.notification {
  font-size: 30px;
  text-decoration: none;
  animation-name: change;
}

.notification:hover a p.new-label span{
  display: none;
}
.notification:hover a p.new-label:after{
  content: '20 days left';
}
